{% extends 'lunchtime/base.html' %}
{% load static %}

{% block content %}
    <div class="dramas-wrapper">
        <div class="container">
            <img src="{% static 'images/tv.jpg' %}" alt="Background" class="background">
            <div class="title">The 3 Best Drama <br> to Learn English</div>
        </div>

        <hr>
        <div class="dramas">
            <img src="{% static 'images/friends.png' %}" alt="Friends" class="friends-image">
            <div class="drama-text friends-text">
                <h2>1. Friends</h2>
                <p><strong>Genre: </strong> comedy, sitcome</p>
                <p><strong>Year: </strong> 1994 - 2004</p>
                <p><strong>Time: </strong> 20 min</p>
                <p><strong>Available: </strong></em> Hulu</p>

                <p>This was my first U.S. drama, and after watching it,
                     I fell in love with U.S. dramas!</p>
            </div>
        </div>

        <hr>
        <div class="dramas">
            <div class="drama-text bigbang-text">
                <h2>2. The Big bang Theory</h2>
                <p><strong>Genre: </strong> comedy, sitcome</p>
                <p><strong>Year: </strong> 2007 - 2017</p>
                <p><strong>Time: </strong> 20 min</p>
                <p><strong>Available: </strong> Hulu</p>

                <p>This is my absolute favorite drama! 
                   I can't even count how many times I've laughed. 
                   If you haven't watched it yet, you should definitely give it a try!</p>
            </div>
            <img src="{% static 'images/bigbang.png' %}" alt="The Big Bang Theory" class="bigbang-image">
        </div>

        <hr>
        <div class="dramas">
            <img src="{% static 'images/office.png' %}" alt="The Office" class="office-image">
            <div class="drama-text office-text">
                <h2>3. The Office</h2>
                <p><strong>Genre: </strong> comedy</p>
                <p><strong>Year: </strong> 2005 - 2013</p>
                <p><strong>Time: </strong> 20 min</p>
                <p><strong>Available: </strong> Hulu</p>

                <p>Michael, the boss in the company, 
                   is the funniest and craziest character I've ever seen!</p>
            </div>
        </div>

    </div>
{% endblock %}